:root {
    --navyblue: #2E2F42;
    --white: #fff;
    --slate: #434455;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
}
body {
    background-color: var(--white);
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--navyblue);
    font-size: 16px;
    letter-spacing: 0.32px;
}
* {
    box-sizing: border-box;
}
.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    width: 1440px;
    height: 72px;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid #E7E9FC
}
.header-nav {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 40px;
    width: 261px;
    height: 24px;
}
.nav-list {
    list-style: none;
    display: flex;
    margin-left: 76px;
    padding: 0;
    gap: 40px; 
}
.nav-list-item {
    color: var(--navyblue);
    text-decoration: none;
}
.nav-list-item:hover {
    color: var(--ocean);
}
.nav-list-item:focus {
    color: var(--ocean);
}
.contact-list {
    list-style: none;
    display: flex;
    gap: 40px;

}
.contact-list-item {
    color: var(--slate);
}
.contact-list-item {
    text-decoration: none;
}
.contact-list-item:hover {
    color: var(--ocean)
}
.contact-list-item:focus {
    color: var(--ocean)
}
.web {
        
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 2;
    text-decoration: none;
}
.header-studio {
    color: var(--navyblue, #2E2F42);
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}
.footer-studio {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    text-decoration: none;
}
.hero-section {
    position: relative;
    text-align: center;
}
.hero-section img {
    height: auto;
    display: block;
    width: 1440px;
    height: 600px;
       
}
.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-heading {
    
    width: 496px;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5;
    letter-spacing: 1.12px;
}
.hero-button {
    cursor: pointer;
    border-radius: 4px;
    color: var(--white);
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
           
}
.hero-button:hover {
    background:var(--ocean);
}
.footer {
    background-color: var(--navyblue);
}
.footer-text {
    color: var(--cloud);
    font-weight: 400;
    line-height: 1.5;
}
.filters {
    position: center;
    justify-content: relative;
    align-items: flex-start;
    list-style: none;
    gap: 24px;
    display: inline-flex;
}
.filter-btn:active {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.filter-btn:hover {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.filter-btn {
    cursor: pointer;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}
.project-tiles {
    list-style: none;
}
.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100% - 48px) / 3);
}
.tiles-item {
    list-style: none;
    border: 0, 0, 1px 0;
    border: solid; 
    border: var(--cloud);
    background: var(--white, #FFF);
}
.section-header {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.sub-heading {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 44px;
    height: 21px;
}
.features {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.section-two-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around
}
.section-three-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around
}
